doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="Aman Kumar | Front-End Developer")
        meta(property="og:title" content="Aman Kumar | Front-End Developer")
        meta(property="og:url" content="amankumar.ga")
        meta(property="og:description" content="A 20-year-old passionate Front-End Developer from India.")
        meta(property="og:image" content="https://blog.corp-site.envato.com/cdn-cgi/image/width=1200,quality=95,format=auto/uploads/2020/06/SOC101_Portfolio_Guide.png")
        meta(property="article:publisher" content="amankumar.ga")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@amankumar062")
        meta(name="twitter:title" content="Aman Kumar | Front-End Developer")
        meta(name="twitter:description" content="A 20-year-old passionate Front-End Developer from India.")
        meta(name="twitter:url" content="amankumar.ga")
        meta(name="author" content="Aman Kumar")
        meta(name="description" content="A 20-year-old passionate Front-End Developer from India.")

        //- Icon
        link(rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png")
        link(rel="manifest" href="/assets/favicon/manifest.json")

        //- Stylesheet
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css")
        link(rel="stylesheet" type="text/css" href="style/style.css")

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        //- ParticleJs
        script(src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
        script(src="http://threejs.org/examples/js/libs/stats.min.js")

        //- Baffle
        script(src="https://cdnjs.cloudflare.com/ajax/libs/baffle.js/0.2.1/baffle.min.js")

        title Aman Kumar | Full-Stack Developer

    body
        //- All Variables
        - let year = new Date();

        - let experience = [{'title':'KoiReader', 'profile':'Front-End Developer','link':'https://www.koireader.com/', 'img':'https://www.koireader.com/static/img/icons/favicon-32x32.png', 'disc':'Artificial Intelligence based document automation and video feed data capture suite of cognitive APIs designed.', 'details': ['During the internship period, I was assigned a role as a front-end developer of KoiReader.','Tools Used: PUG, CSS, Materialize, JavaScript, jQuery, MJML, Web Components, LitElement and Vaadin','Accomplished: Learned new thing in JavaScript and CSS and enhance my knowledge in Web Development.'],'time':'Sep 2020 - Nov 2020 '}, {'title':'ItWali', 'profile':'Front-End Developer','link':'https://www.koireader.com/', 'img':'https://itwali.com/wp-content/uploads/2020/07/cropped-logo1-72x95.jpg', 'disc':'Committed To Helping Our Clients Succeed All You Need A Reliable source That Helps in dealing With Your Income Tax Planning.','details':['During the Internship, I was assigned as a front end developer of Itwali.com. In that project, I was assigned to developed pages of Itwali.com.','Tools Used: HTML, CSS, BootStrap, JavaScript and jQuery','Accomplished: Learned many new library, increased my speed in UI development and enhance my knowledge in Web Development.'],'time':'Aug 2020 - Sept 2020'}]

        - let projects = [{"title": "Top10List", "link": "https://top10list-react.netlify.app/", "img": "top10list.jpg", "desc": "Top10List is a single page application that is made using ReactJs.",}, {"title": "Epic Player", "link": "http://epicplayer.ml/", "img": "epicPlayer.jpg", "desc": "Epic Player is a music player app with an audio visualizer", },{"title": "Covid-19 Report", "link": "https://report-covid19.netlify.app/", "img": "report-covid19.jpg", "desc": "It shows the Status of COVID-19 from all over the world.",}, {"title": "Basic-Calculator", "link": "https://basiccal.netlify.app/", "img": "basic-calculator.jpg", "desc": "Basic Calculator that can do Addition, Subtraction, Multiplication, Division, and Percentage.",}, {"title": "Word Counting App", "link": "https://wordcountingapp.netlify.app/", "img": "wordcountingapp.jpg", "desc": "A simple website where you can count the words and characters.", }, {"title": "Hexagonal", "link": "https://hexgonal.netlify.app/", "img": "hexagonal.jpg", "desc": "Responsive website with a honeycomb pattern with cool CSS which will make you feel Trippy!! ", },]

        - let html = [{'title':'HTML5','img':'html5.png'},{'title':'PUG','img':'pug.png'},{'title':'JSX','img':'react.png'}]

        - let css = [{'title':'CSS3','img':'css3.png'},{'title':'SASS','img':'sass.png'},{'title':'Bootstrap','img':'bootstrap.png'},{'title':'Materialize','img':'materialize.png'}]

        - let javascript = [{'title':'JavaScript','img':'javascript.png'},{'title':'TypeScript','img':'typescript.png'},{'title':'jQuery','img':'jQuery.png'},{'title':'React','img':'react.png'},{'title':'Redux','img':'redux.png'}]

        - let back_end = [{'title':'Node','img':'nodejs.png'},{'title':'MongoDB','img':'mongodb.png'}]

        - let other = [{'title':'C++','img':'c.png'},{'title':'Wordpress','img':'wordpress.png'},{'title':'Git','img':'git.png'}]

        - let skillSet = [{'name': 'HTML','skills':html},{'name': 'CSS','skills':css},{'name': 'Javascript','skills':javascript},{'name':'Back-End','skills':back_end},{'name': 'Other','skills':other}]

        noscript You need to enable JavaScript to run this app.

        #loader 
            p Welcome

        #particles-js
            nav.navBar
                .logo
                    h2 
                        pre <𝒜𝓂𝒶𝓃 𝒦𝓊𝓂𝒶𝓇/>

                ul.nav-links
                    li
                        a.about About 
                    li
                        a.experience Experience
                    li
                        a.projects Projects
                    li
                        a.skills Skills
                    li
                        a.contact Contact

                .hamBurger
                    .line1
                    .line2
                    .line3

            .intro
                div
                    p.para
                        | Hello, I'm 
                        span.name Aman Kumar 
                    p.reveal Full Stack Web Developer

                    .github
                        a(href="https://github.com/amankumar6") ⭐ Star Me On GitHub

        #main
            #about(data-color="0")
                .container
                    h1.header About
                    .content
                        p My self Aman, a 20-year-old passionate Full-Stack Web Developer from India. I am an undergraduate pre-final year student in the Department of Electronics and Communication at the Birla Institute of Technology, Mesra.

                        p As a web developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.

                        p Currently I am enhancing my knowledge in Back-End. My short term goal is to get a job in a reputed company as a Full-Stack Web Developer. And, my Long term goal is to become a more responsible and knowledgeable personality and in a respectable position in my company.

                        p When not working or futzing around with code, I study how to escape from College. I'm available for work, 
                            a(href="mailto:amankumar786dpsdh@gmail.com" target="_blank") get in touch.

                        p My 
                            a(href="https://drive.google.com/file/d/1RsqVdzu2HjGuUUXYSk_OKxUq7a4nrmeD/view?usp=sharing" target="_blank") Resume

            #experience(data-color="1")
                .container
                    h1.header Experience
                    .content
                        each elm in experience
                            .card
                                h1.card-header
                                    p.title
                                        img(src=elm.img alt=elm.title.toLowerCase())
                                        a(href=elm.link)=elm.title
                                    p=elm.profile

                                .card-content
                                    p.disc=elm.disc
                                    ul
                                        each item in elm.details
                                            li=item
                                    p.time-span=elm.time

            #projects(data-color="0")
                .container
                    h1.header Projects
                    .content
                        each data,i in projects
                            .project
                                .list-number 
                                    h1=`${(i+1<10)? "0"+(i+1): i+1}`
                                img(src= "https://res.cloudinary.com/dbvthtwhc/image/upload/v1613020555/portfolio/images/" + data.img, alt=data.title)
                                .project-text
                                    p.project-title=data.title
                                    p.project-disc=data.desc
                                    .btn
                                        button.visit(data-ref=data.link) Visit Website 
                                            i.far.fa-long-arrow-right

            #skills(data-color="1")
                .container
                    h1.header Skills
                    .content
                        each elm in skillSet 
                            .card
                                h1.card-header=elm.name
                                .card-content
                                    each skill in elm.skills 
                                        div
                                            img.skill-img(alt=skill.title.toLowerCase() src="https://res.cloudinary.com/dbvthtwhc/image/upload/v1613020554/portfolio/icons/" + skill.img)
                                            p.skill-name=skill.title

        #contact 
            .container
                .logo
                    h2
                        pre <𝒜𝓂𝒶𝓃 𝒦𝓊𝓂𝒶𝓇/>

                .links
                    ul
                        li
                            a(href="https://www.instagram.com/amankumar062/" target="_blank") Instagram
                        li
                            a(href="https://twitter.com/amankumar062" target="_blank") Twitter 
                        li
                            a(href="https://www.linkedin.com/in/amankumar6/" target="_blank") Linkedin
                        li
                            a(href="https://github.com/amankumar6" target="_blank") GitHub

                .copywrite © #{year.getFullYear()} 
                    span Aman Kumar 

        .goToTop 
            i.fal.fa-angle-up

        //- JavaScript
        script(src="js/particle.js") 
        script(src="js/main.js") 