doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="Aman Kumar | Full-Stack Developer")
        meta(property="og:title" content="Aman Kumar | Full-Stack Developer")
        meta(property="og:url" content="amankumar.ml")
        meta(property="og:description" content="A 21-year-old passionate Full-Stack Developer from India.")
        meta(property="og:image" content="https://blog.corp-site.envato.com/cdn-cgi/image/width=1200,quality=95,format=auto/uploads/2020/06/SOC101_Portfolio_Guide.png")
        meta(property="article:publisher" content="amankumar.ml")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@amankumar062")
        meta(name="twitter:title" content="Aman Kumar | Full-Stack Developer")
        meta(name="twitter:description" content="A 21-year-old passionate Full-Stack Developer from India.")
        meta(name="twitter:url" content="amankumar.ml")
        meta(name="author" content="Aman Kumar")
        meta(name="description" content="A 21-year-old passionate Full-Stack Developer from India.")

        //- Icon
        link(rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png")
        link(rel="manifest" href="/assets/favicon/manifest.json")

        //- Stylesheet
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css")
        link(rel="stylesheet" type="text/css" href="style/style.css")

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        //- Baffle
        script(src="https://cdnjs.cloudflare.com/ajax/libs/baffle.js/0.2.1/baffle.min.js")

        title Aman Kumar | Full-Stack Developer

    body
        //- All Variables
        - let year = new Date();

        - let experience=[{title:"",profile:"Techinical Intern",link:"https://www.smartserv.io/",img:"https://www.smartserv.io/wp-content/uploads/2022/01/smartserv-logo-with-name.svg",disc:"A cloud-based field service management software built for service contractors with smart automation to get things done faster.",details:["Working...",],time:"Jan 2022 - Present"},{title:"Three Arrow Technologies",profile:"Jr. ReactJS Developer",link:"https://threearrow.in/",img:"https://res.cloudinary.com/dbvthtwhc/image/upload/v1634190439/portfolio/threeArrow.svg",disc:"We design a road map towards the success of your Business in this Digital World.",details:["Gained hands-on experience in ReactJS.","Tools Used: CSS, BootStrap and ReactJS","Accomplished: Learned new thing in ReactJS and enhance my knowledge in Web Development."],time:"Sep 2021 - Oct 2021 "},{title:"KoiReader",profile:"Front-End Developer",link:"https://www.koireader.com/",img:"https://d2fedaqd9kwzub.cloudfront.net/website/6cc558062ae69ea699d57c2b62ed8fd9.svg",disc:"Artificial Intelligence based document automation and video feed data capture suite of cognitive APIs designed.",details:["Gained hands-on experience in web development, and maintaining internal web applications","Assisting the technical team with the design, development, and fixing of bugs in the website","Tools Used: PUG, CSS, Materialize, JavaScript, jQuery, MJML, Web Components, LitElement and Vaadin","Accomplished: Learned new thing in JavaScript and CSS also enhance my knowledge in Web Development."],time:"Sep 2020 - Nov 2020 "},{title:"ItWali",profile:"Front-End Developer",link:"https://itwali.com/",img:"https://res.cloudinary.com/dbvthtwhc/image/upload/v1626705622/portfolio/itwali.png",disc:"Committed To Helping Our Clients Succeed All You Need A Reliable source That Helps in dealing With Your Income Tax Planning.",details:["During the Internship, I was assigned as a front end developer of Itwali.com. In that project, I was assigned to developed pages of Itwali.com.","Tools Used: HTML, CSS, BootStrap, JavaScript and jQuery","Accomplished: Learned many new library, increased my speed in UI development and enhance my knowledge in Web Development."],time:"Aug 2020 - Sept 2020"}];

        - let projects=[{title:"Track Your Goals",link:"https://app---todo.herokuapp.com/",img:"TrackYourGoals.png",desc:"Web app helps you to keep track of your daily goals."},{title:"Covid-19 Report",link:"https://covid19-status.ml/",img:"report-covid19.jpg",desc:"It shows the Status of COVID-19 from all over the world."},{title:"Top10List",link:"https://top10list.ml/",img:"top10list.jpg",desc:"Top10List is a single page application that is made using ReactJs."},{title:"Epic Player",link:"http://epicplayer.cf/",img:"epicPlayer.jpg",desc:"Epic Player is a music player app with an audio visualizer"},{title:"Missionaries and Cannibals",link:"http://boatgame.ml/",img:"missionaries-and-cannibals.jpg",desc:"It is a simple game made with javascript. Three missionaries and three cannibals need to be crossed a river using a boat."}];

        //- let projects=[{title:"ToDo",link:"https://app---todo.herokuapp.com/",img:"todo.jpg",desc:"A todo app were users can register, login, add their todos, upload their avatar and reset their password."},{title:"Top10List",link:"https://top10list-react.netlify.app/",img:"top10list.jpg",desc:"Top10List is a single page application that is made using ReactJs."},{title:"Epic Player",link:"http://epicplayer.ml/",img:"epicPlayer.jpg",desc:"Epic Player is a music player app with an audio visualizer"},{title:"Missionaries and Cannibals",link:"http://boatgame.ml/",img:"missionaries-and-cannibals.jpg",desc:"It is a simple game made with javascript. Three missionaries and three cannibals need to be crossed a river using a boat."},{title:"Covid-19 Report",link:"https://report-covid19.netlify.app/",img:"report-covid19.jpg",desc:"It shows the Status of COVID-19 from all over the world."},{title:"Basic-Calculator",link:"https://basiccal.netlify.app/",img:"basic-calculator.jpg",desc:"Basic Calculator that can do Addition, Subtraction, Multiplication, Division, and Percentage."},{title:"Word Counting App",link:"https://wordcountingapp.netlify.app/",img:"wordcountingapp.jpg",desc:"A simple website where you can count the words and characters."},{title:"Hexagonal",link:"https://hexgonal.netlify.app/",img:"hexagonal.jpg",desc:"Responsive website with a honeycomb pattern with cool CSS which will make you feel Trippy!! "}];

        - let programming=[{title:"C",img:"c.png"},{title:"C++",img:"c++.png"},{title:"JavaScript",img:"javascript.png"},{title:"Swift",img:"swift.png"}];

        - let markup = [{'title':'HTML5','img':'html5.png'},{'title':'PUG','img':'pug.png'},{'title':'JSX','img':'react.png'}]

        - let styling = [{'title':'CSS3','img':'css3.png'},{'title':'SASS','img':'sass.png'},{'title':'Bootstrap','img':'bootstrap.png'},{'title':'Materialize','img':'materialize.png'}]

        - let javascript = [{'title':'Node','img':'nodejs.png'},{'title':'TypeScript','img':'typescript.png'},{'title':'jQuery','img':'jQuery.png'},{'title':'React','img':'react.png'},{'title':'Redux','img':'redux.png'},{'title':'React Native','img':'react.png'}]

        - let dataBase = [{'title':'MongoDB','img':'mongodb.png'}, {'title':'MySQL','img':'MySQL.png'},]

        - let other = [{'title':'Core Data','img':'coredata.png'},{'title':'Git','img':'git.png'},{'title':'Fire Base','img':'fireBase.png'},{'title':'Wordpress','img':'wordpress.png'}]

        - let skillSet = [{'name': 'Programming Language','skills':programming}, {'name': 'Markup','skills':markup},{'name': 'Styling','skills':styling},{'name': 'Javascript','skills':javascript},{'name':'Database','skills':dataBase},{'name': 'Other','skills':other}]

        - let dateString = "2000/08/06"
        - let birthday = +new Date(dateString);
        - let age = ~~((Date.now() - birthday) / (31557600000));
        - let resumeLink = "https://drive.google.com/file/d/1wsPXnbW7Z8yemonXJOcscBXwodkomtt3/view?usp=sharing";

        noscript You need to enable JavaScript to run this app.

        #loader 
            p Welcome

        #particles-js
            nav.navBar
                .logo
                    h2 
                        pre <𝒜𝓂𝒶𝓃 𝒦𝓊𝓂𝒶𝓇/>

                ul.nav-links
                    li
                        a.about About 
                    li
                        a.experience Experience
                    li
                        a.projects Projects
                    li
                        a.skills Skills
                    li
                        a.contact Contact

                .hamBurger
                    .line1
                    .line2
                    .line3

            .intro
                div
                    p.para
                        | Hello, I'm 
                        span.name Aman Kumar 
                    p.reveal Full Stack Web Developer

                    .github
                        a(href="https://github.com/amankumar6") ⭐ Star Me On GitHub

        #main
            #about(data-color="0")
                .container
                    h1.header About Me
                    .content
                        p 
                            | My self Aman, a #{age}-year-old passionate Full-Stack Web Developer from India. I am an undergraduate final year student in the Department of Electronics and Communication at the Birla Institute of Technology, Mesra.
                            br
                            | My technical interest lies in programming (C++,JS), Development (Web Applications). Have prior knowledge of Data Structure & Algorithms and Full-Stack Development. 1 year of experience as a web developer in technical delivery. A great team player and individual contributor with strong work ethics, technical knowledge and collaboration skills. Enjoys being challenged and working on projects that requires me to work outside my comfort and knowledge set, as well as continuing to learn new languages, design patterns and development techniques. 
                            br
                            | Currently I am enhancing my knowledge in DSA. My short term goal is to get a job in a reputed company as a Software Developer Engineer. And, my Long term goal is to become a more responsible and knowledgeable personality and in a respectable position in my company.

                        //- p As a web developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.

                        //- p Currently using technologies such as react, nodejs and mongoDB to carve a better developer out of me.

                        p When not working or futzing around with code, I study how to escape from College.

                        p
                            | I'm available for work, 
                            a(href="mailto:amankumar786dpsdh@gmail.com" target="_blank") get in touch.

                            br
                        
                            | My 
                            a(href= `${resumeLink}` target="_blank") Resume

            #experience(data-color="1")
                .container
                    h1.header Experience
                    .content
                        each elm in experience
                            .card
                                h1.card-header
                                    p.title
                                        img(src=elm.img alt=elm.title.toLowerCase())
                                        a(href=elm.link)=elm.title
                                    p=elm.profile

                                .card-content
                                    p.disc=elm.disc
                                    ul
                                        each item in elm.details
                                            li=item
                                    p.time-span=elm.time

            #projects(data-color="0")
                .container
                    h1.header Projects
                    .content
                        each data,i in projects
                            .project
                                .list-number 
                                    h1=`${(i+1<10)? "0"+(i+1): i+1}`
                                img(src= "https://res.cloudinary.com/dbvthtwhc/image/upload/v1613020555/portfolio/images/" + data.img, alt=data.title)
                                .project-text
                                    p.project-title=data.title
                                    p.project-disc=data.desc
                                    .btn
                                        button.visit(data-ref=data.link) Visit Website 
                                            i.far.fa-long-arrow-right

            #skills(data-color="1")
                .container
                    h1.header Skills
                    .content
                        each elm in skillSet 
                            .card
                                h1.card-header=elm.name
                                .card-content
                                    each skill in elm.skills 
                                        div
                                            img.skill-img(alt=skill.title.toLowerCase() src="https://res.cloudinary.com/dbvthtwhc/image/upload/v1613020554/portfolio/icons/" + skill.img)
                                            p.skill-name=skill.title

        #contact 
            .container
                .logo
                    h2
                        pre <𝒜𝓂𝒶𝓃 𝒦𝓊𝓂𝒶𝓇/>
                .links
                    ul
                        li
                            a(href="https://www.instagram.com/amankumar062/" target="_blank") Instagram
                        li
                            a(href="https://twitter.com/amankumar062" target="_blank") Twitter 
                        li
                            a(href="https://www.linkedin.com/in/amankumar6/" target="_blank") Linkedin
                        li
                            a(href="https://github.com/amankumar6" target="_blank") GitHub

                .copywrite © #{year.getFullYear()} 
                    span Aman Kumar 

        .goToTop 
            i.fal.fa-angle-up

        //- JavaScript
        script(src="./js/particles.min.js")
        script(src="./js/stats.min.js")
        script(src="js/particle.js") 
        script(src="js/main.js") 